@tailwind base;
@tailwind components;
@tailwind utilities;

select::after {
  content: ">";
  position: absolute;
  right: 0.5rem;
}

html,
body {
  @apply bg-indigo-600;
  background-image: url("/background.svg");
  background-attachment: fixed;
  background-size: cover;
}
